.portfolio {
    min-height: 100vh;
    padding: 5vh 0vh;
    text-align: center;
    background-color: #edefee;
}

.title {
    color: black;
    margin-bottom: 5vh;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50vh);
    justify-content: center;
    column-gap: 5vh;
    row-gap: 8vh;
}

/* For extra small devices ( 600px or smaller )*/
@media only screen and (max-width: 600px) {
    .portfolio {
        width: 100%;
    }
}

/* For iPhone X, Xs, XR, and 11 */
@media only screen 
    and (min-width: 414px) 
    and (min-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
        .portfolio {
            width: 100%;
            text-align: center;
        }

        .content {
            width: 100%;
            justify-content: center;
            display: block;
        }
    }

/* For iPhone 12 and 13 */
@media only screen 
    and (min-width: 375px) 
    and (min-height: 812px) 
    and (-webkit-device-pixel-ratio: 3) {
        .content {
            width: 100%;
            display: block;
        }
    }